---
layout: default
title: Contact
sponsors:
  - image: /assets/images/ieee mb black png.png
  - image: /assets/images_26/sponsor/IEEE_Italy_logo_small.png
  - image: /assets/images_26/sponsor/cis.png
  - image: /assets/images_26/sponsor/smc.png
  - image: /assets/images_26/sponsor/unical-2.png
  - image: /assets/images_26/sponsor/dimes.svg
---

<!-- Hero Section -->
<section
  class="jumbotron text-center mb-5"
  style="
    background-image: url('/assets/images/Digital_Twin_Calgary.jpg');
    background-size: cover;
    background-position: center;
    min-height: 60vh;
    position: relative;
    color: white;
  "
>
  <div class="hero-section" style="min-height: 60vh">
    <div
      class="page-section container px-3 pt-5 d-flex flex-column align-items-center gap-3"
    >
      <h1 class="display-5 fw-bolder mt-5">Contact Information</h1>
    </div>
  </div>
</section>

<section
  class="page-section container-fluid px-3 pb-5 d-flex flex-column gap-2"
>
  <div class="row pt-4">
    <div class="col-sm-12 d-flex flex-column gap-4">
      <h2 class="fs-2">
        For questions with any of the following topics please contact us
      </h2>
      <ul class="fs-5 list-unstyled">
        <li class="mb-2">
          For questions about <strong>Local logistics</strong> including visa
          application: 
          <mark style="background-color: #ffeb3b; padding: 2px 4px; border-radius: 3px;">?? &lt;<a href=""
            >??</a
          >&gt;</mark>
        </li>
        <li class="mb-2">
          For questions about <strong>Web pages</strong>: Vincenzo Barbuto &lt;<a
            href="mailto:vincenzo.barbuto@unical.it"
            >vincenzo.barbuto@unical.it</a
          >&gt;
        </li>
        <li class="mb-2">
          For questions about <strong>Paper EDAS submissions</strong>: Program
          Chair(s) of each conference or workshop. (see the web page of each
          conference or workshop for their email addresses)
        </li>
        <li class="mb-2">
          For questions about <strong>Registrations</strong>: <mark style="background-color: #ffeb3b; padding: 2px 4px; border-radius: 3px;">?? &lt;<a href=""
            >??</a
          >&gt;</mark>
        </li>
        <li class="mb-2">
          For questions about the <strong>Congress Program</strong>: 
          <mark style="background-color: #ffeb3b; padding: 2px 4px; border-radius: 3px;">?? &lt;<a href=""
            >??</a
          >&gt;</mark>
        </li>
        <li class="mb-2">
          For questions about <strong>Publication</strong>: Prof. Raffaele Gravina
          &lt;<a href="mailto:r.gravina@dimes.unical.it">r.gravina@dimes.unical.it</a
          >&gt;
        </li>
        <li class="mb-2">
          For questions about <strong>Tutorials</strong>:
          <mark style="background-color: #ffeb3b; padding: 2px 4px; border-radius: 3px;">?? &lt;<a href=""
            >??</a
          >&gt;</mark>
        </li>
        <li class="mb-2">
          For questions about <strong>Workshops or Special Sessions</strong>:
          <mark style="background-color: #ffeb3b; padding: 2px 4px; border-radius: 3px;">?? &lt;<a href=""
            >??</a
          >&gt;</mark>
        </li>
        <li class="mb-2">
          For questions about <strong>Exhibitions</strong>: 
          <mark style="background-color: #ffeb3b; padding: 2px 4px; border-radius: 3px;">?? &lt;<a href=""
            >??</a
          >&gt;</mark>
        </li>

        <li class="mb-2">
          For general questions about <strong>The event </strong>: Prof. Giancarlo Fortino
          &lt;<a href="mailto:giancarlo.fortino@unical.it">giancarlo.fortino@unical.it</a
          >&gt;
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="container-fluid d-flex flex-column gap-4 bg-light">
  {% include colocated-conferences.html %}
</section>

{% include sponsors.html sponsors=page.sponsors %}
