<div class="container-fluid d-flex flex-column gap-4">
  <div class="page-section w-100 py-5 d-flex flex-column gap-4">
    <h2 class="fs-2 text-center">IEEE SWC 2026 Colocated Conferences</h2>
    <div class="row pb-3 g-4 justify-content-center">
      {% for conference in site.data.conferences %}
      <div class="col-sm-4">
        <div class="card bg-light-subtle h-100 w-100">
          <div
            class="card-body d-flex flex-column justify-content-between gap-3 h-100"
          >
            <h3 class="text-center">{{ conference.shortTitle }}</h3>
            <h5 class="fs-6 text-center">{{ conference.shortDescription}}</h5>
            <a href="{{ conference.url }}" class="btn btn-primary w-100"
              >View</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
